<div class="float-right entireDiv">
  <div style="padding-right: 50px; background-color:#dee5d7">
    <h2 class="myFav">My Favourites</h2>
    <div *ngIf="favourites"
      cdkDropList
      [cdkDropListData]="favourites"
      class="example-list"
      (cdkDropListDropped)="dropped($event)">
      <div style="padding-left: 50px" id="picDiv" *ngFor="let favourite of favourites" cdkDrag>
        <img src="{{favourite.path}}" class="pic">
        <div (click)="onClick(favourite.posterId)">
          <i class="fas fa-heart" style="padding-bottom: 50px" ></i>
        </div>
      </div>
  </div>
  </div>

<!--<div class="example-container">
  <h2>To do</h2>

  <div
    cdkDropList
    [cdkDropListData]="favourites"
    class="example-list"
    (cdkDropListDropped)="dropped($event)"
  >
    <div class="example-box" *ngFor="let item of favourites" cdkDrag>
      {{ item }}
    </div>
  </div>
</div>-->
