@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Lora:ital@1&family=Raleway&display=swap');

.container{
  position: relative;
}

.pic{
  position: relative;
  max-width: 100%;
  max-height: 100%;
  display: block;
  cursor: pointer;

}
.fas fa-heart > {
  position: absolute;
  top: 5px;
  right: 5px;
}

.myFav{
  padding: 10px;
  position: relative;
  left: 10%;
  font-family: 'Sansita Swashed', cursive;
}

.entireDiv{
  min-height: 550px;
  max-width: 270px;
  border-left: 2px solid grey
}

#picDiv{
  height: 200px;
  width: 200px;
  margin-bottom: 10px;
  margin-left: -5px;
}
#dk{
  background-color: #c08133;
}


