<div class="float-right" style="min-height: 550px; max-width: 270px; border-left:  2px solid grey">
  <div class="" style=" padding-right: 50px">
    <h2 class="myFav">My Favourites</h2>
    <ul *ngIf="favourites">
      <div id="picDiv"
            *ngFor="let favourite of favourites">

        <div [cdkDragData]="favourites" cdkDrag><img src="{{favourite.path}}" class="pic" >
          <div (click)="onClick(favourite.posterId)">
            <i class="fas fa-heart" style="padding-bottom: 50px" ></i>
          </div>
        </div>

  </div>

    </ul>
  </div>
  </div>
