<div class="container float-right" style="min-height: 550px; width: 270px; background-color: #111111; border-left: 2px solid blue">
      <div class="" style="margin: 10px">
        <div class="" style="background-color: green; height: 200px; width: 200px; margin: 10px">
          <img src="/assets/denmark-posters/FF158DK.png" class="pic">
        </div>
        <div class="" style="background-color: blue; height: 200px; width: 200px; margin: 10px">

        </div>
        <div class="" style="background-color: yellow; height: 200px; width: 200px; margin: 10px;">

        </div>
      </div>
  </div>
