<div class="row gap100" align="center">

<div class="col-md-12" style="background-color: #dee5d7">
  <h1 id="textHead">Denmark Gallory!</h1>
  <p id="text">In this gallory you can find posters and mark them as favorits and go to the WorkSpace and try them on you wall</p>
</div>
</div>
<section style="background:#dee5d7;min-height: 300px;padding-top:50px;padding-bottom: 25px;">
<div class="container" style="background:#dee5d7;min-height: 225px">
  <div class="row">
    <div class="col-3">
      <div class="card">
        <img src="/assets/denmark-posters/FF101DK.png" class="card-img"  width=200 height= 200>
        <button class="card-body" style="padding: 0px">
          <img src="favicon.ico">
        </button>
      </div>

    </div>
    <div class="col-3">
      <img src="/assets/denmark-posters/FF158DK.png"  width=200 height= 200>
    </div>
    <div class="col-3">
      <img src="/assets/denmark-posters/FF103DK.png"  width=200 height= 200>
    </div>
    <div class="col-3">
      <img src="/assets/denmark-posters/FF104DK.png"  width=200 height= 200>
    </div>
  </div>
</div>

  <div class="container" style="background:#dee5d7;min-height: 225px">
    <div class="row">
      <div class="col-3">
        <img src="/assets/denmark-posters/FF105DK.png"  width=200 height= 200>
      </div>
      <div class="col-3">
        <img src="/assets/denmark-posters/FF106DK.png"  width=200 height= 200>
      </div>
      <div class="col-3">
        <img src="/assets/denmark-posters/FF107DK.png"  width=200 height= 200>
      </div>
      <div class="col-3">
        <img src="/assets/denmark-posters/FF108DK.png"  width=200 height= 200>
      </div>
    </div>
  </div>

</section>
