<app-favourites [favourites]="favourites" class ="dk"></app-favourites>
<div class="row gap100" align="center" style="background-color:#dee5d7 ">
<div class="col-md-12" style="background-color: #dee5d7">
  <h1 id="textHead">DENMARK POSTERS</h1>
  <p id="text">In this Gallery you can find posters and mark them as favourites and go to the WorkSpace and try them on you wall</p>
</div>
</div>
<section style="background:#dee5d7;min-height: 300px; min-width: 300px; padding-top:50px;padding-bottom: 50px;">
<div class="container-fluid" style="background:#dee5d7;min-height: 300px; padding-bottom: 50px; padding-left: 50px">
  <ul *ngIf="Collection">
    <div class="row">
    <div class="col-3" *ngFor="let posterModel of Collection" style="background-color: #dee5d7">
      <img src="{{posterModel.Path}}" id ={{posterModel.id}} class="pic" width="300" height="300">
        <div class="row">
          <h9 class="text-center" style = "padding-left: 60px; padding-bottom: 20px" >{{posterModel.PosterName}}</h9>
          <div (click)="onClick(posterModel.PId)">
            <i  class="float-right" class="fas fa-heart"style="color: red; padding-left: 5px"></i>
          </div>
        </div>
    </div>
    </div>
  </ul>
</div>
</section>

