<div class="row gap100" align="center">

  <div class="col-md-12" style="background-color: #f4e8e8">
    <h1 id="textHead">COPENHAGEN POSTERS</h1>
    <p id="text">In this Gallery you can find posters and mark them as favourites and go to the WorkSpace and try them on you wall</p>
  </div>
</div>
<section style="background:#f4e8e8;min-height: 300px;padding-top:50px;padding-bottom: 25px;">
  <div class="container" style="background:#f4e8e8;min-height: 225px">
    <div class="row">
      <div class="col-3">
          <img src="/assets/denmark-posters/FF101DK.png" width=200 height= 200>
      </div>
      <div class="col-3">
        <img src="/assets/denmark-posters/FF158DK.png"  width=200 height= 200>
      </div>
      <div class="col-3">
        <img src="/assets/denmark-posters/FF103DK.png"  width=200 height= 200>
      </div>
      <div class="col-3">
        <img src="/assets/denmark-posters/FF104DK.png"  width=200 height= 200>
      </div>
    </div>
  </div>

  <div class="container" style="background:#f4e8e8;min-height: 225px">
    <div class="row">
      <div class="col-3">
        <img src="/assets/denmark-posters/FF105DK.png"  width=200 height= 200>
      </div>
      <div class="col-3">
        <img src="/assets/denmark-posters/FF106DK.png"  width=200 height= 200>
      </div>
      <div class="col-3">
        <img src="/assets/denmark-posters/FF107DK.png"  width=200 height= 200>
      </div>
      <div class="col-3">
        <img src="/assets/denmark-posters/FF108DK.png"  width=200 height= 200>
      </div>
    </div>
  </div>

</section>

