.canvas{
  //background-color: red;
  width: 800px;
  height: 560px;
  min-width: 100%;
  //border: 5px solid gray;
  //z-index: -1;
}

#picDiv{
  height: 200px;
  width: 200px;
}

.pic{
  max-width: 20%;
  max-height: 20%;
  display: block;
  cursor: pointer;
  position: absolute;
}
