 <div  class="boundary" (drop)="drop($event)" >
  <!--[cdkDropListData]="favourites">
  (cdkDropListDropped)="dropped($event)"-->

      <div class="fill" (click)="select(workspaceposter)" cdkDrag cdkDragBoundary=".boundary"
           [style.border]="workspaceposter.selected ? '': ''"
           [style.width]="getWidth(workspaceposter.SizeId)"
           [style.height]="getHeight(workspaceposter.SizeId)"
           [style.xPos]="getXPos(workspaceposter.XPos)"
           *ngFor="let workspaceposter of workspaceposters"  >
      <img [style.border]="getBorder(workspaceposter.FrameId)"
        src="{{workspaceposter.favourite.path}}" class="pic" >

    </div>
  </div>

