<section style="height: 550px; width: 1200px; padding: 30px">
  <div class="container row" style="height: 550px; min-width: 1500px">

    <div class="btn-group dropright ml-5">
      <select [(ngModel)]='workspaceSelect' ngModel (ngModelChange)="mySelectHandler($event)" class="form-control profile-select workspaceSelector">
        <option value="None" disabled>Select workspace</option>
        <option *ngFor="let workspace of  workspaces" [ngValue]="workspace.name">
          {{ workspace.name }}
        </option>
      </select>
    </div>

    <div>
      <button class="btnExport">Export order</button>
    </div>

    <div class="row">
      <div class="col-md-9" style=" height: 530px; min-width: 1500px">
        <div class="row justify-content-center" style="padding: 7px">
          <table class="table table-borderless">
            <thead>
            <tr>
              <th scope="col">Poster Name</th>
              <th scope="col">Frame</th>
              <th scope="col">Size</th>
              <th scope="col">Price</th>
              <th scope="col">SKU Code</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let summary of  summaries">
              <td> {{ summary.posterName }}</td>
              <td>{{ summary.frame }}</td>
              <td>{{ summary.size }}</td>
              <td>{{ summary.price }}</td>
              <td>{{ summary.skuCode }}</td>
            </tr>

            </tbody>
          </table>


          </div>
        </div>
      </div>
      <div class="col-md-3" style="min-height: 550px;">

        <div class="row" style="padding: 7px;">
          <div class="" style="height: 300px; min-width: 100%;">


          </div>
        </div>

      </div>
    </div>
</section>
