<section style="height: 550px; width: 1200px; padding: 30px">
  <div class="container row" style="height: 550px; min-width: 1500px">

    <div class="btn-group dropright ml-5">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        My Workspaces
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Kitchen</a>
        <a class="dropdown-item" href="#">Kitchen 3 pictures</a>
        <a class="dropdown-item" href="#">Living Room</a>
        <a class="dropdown-item" href="#">Dinning Room</a>
      </div>
    </div>

    <div>
      <button class="btnExport">Export order</button>
    </div>

    <div class="row">
      <div class="col-md-9" style=" height: 530px; min-width: 1500px">
        <div class="row justify-content-center" style="padding: 7px">
          <table class="table table-bordered">
            <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Poster Name</th>
              <th scope="col">Size</th>
              <th scope="col">Frame</th>
              <th scope="col">Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Forest</td>
              <td>A3</td>
              <td>Dark Oak</td>
              <td>€ 11</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Sea</td>
              <td>A5</td>
              <td>Black Oak</td>
              <td>€ 30</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>City</td>
              <td>50x70</td>
              <td>White Aluminium</td>
              <td>€ 45</td>
            </tr>

            </tbody>
          </table>


          </div>
        </div>
      </div>
      <div class="col-md-3" style="min-height: 550px;">

        <div class="row" style="padding: 7px;">
          <div class="" style="height: 300px; min-width: 100%;">


          </div>
        </div>

      </div>
    </div>
</section>
