<div class="row">
  <div class="col-md-5">
    <div class="login-box">
    <img src="/assets/login_person.jpg" class="avatar">
    <h1>Login Here</h1>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <p>Username</p>
      <input type="text" formControlName="username" placeholder="Enter Username" class="form-control" required/>
      <div *ngIf="username.invalid && submitted" class="alert-danger">
        <div *ngIf="username.errors.required">Username is required</div>
      </div>
    </div>
    <div class="form-group">
      <p>Password</p>
      <input type="password"  formControlName="password"  placeholder="Enter Password" class="form-control" required/>
      <div *ngIf="password.invalid && submitted" class="alert-danger">
        <div *ngIf="password.errors.required">Password is required</div>
      </div>
    </div>
    <br>
    <div class="form-group">
      <input type="submit" name="submit" value='Login'>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
      <br>
      <a href="#" class="forgot-password">Forgot Password</a>
    </div>
    <!--<div>
      <a class="nav-link" id="signup" routerLink="/signup">Sign Up</a>
    </div>-->
    <div *ngIf="errormessage" class="alert-danger">{{errormessage}}</div>
  </form>
  </div>
</div>

  <div class="col-md-7">
<div class="posters">
  <img src="/assets/posters.jpg" alt="posters" width=1000 height= 500>
</div>
  </div>

  <!--<div class="col-md-8" style="background: red">
    <img src="/assets/posters.jpg" alt="posters" id="posters" width=1000 height= 500>
  </div>
</div>-->
</div>
