<app-favourites></app-favourites>
<section style="min-height: 550px; width: 1200px; padding: 30px">
  <div class="container" style="min-height: 550px;">

  <div class="btn-group dropright ml-5">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose Workspace
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Kitchen</a>
        <a class="dropdown-item" href="#">Kitchen 3 pictures</a>
        <a class="dropdown-item" href="#">Living Room</a>
        <a class="dropdown-item" href="#">Dinning Room</a>
      </div>
    </div>
    <div class="row">
    <div class="col-md-9" style=" min-height: 580px;">
      <div class="row justify-content-center" style="padding: 7px">

        <div class="" id="workspaceId" (click)="changeColor()">



        </div>
      </div>
      </div>
      <div class="col-md-3" style="min-height: 550px;">

          <div class="row" style="padding: 7px;">
            <div class="" style="height: 300px; min-width: 100%;">
              <div class="dropdown show settingsBoxes">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Choose Size
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Small</a>
                  <a class="dropdown-item" href="#">Medium</a>
                  <a class="dropdown-item" href="#">Large</a>
                </div>
              </div>

              <div class="dropdown show settingsBoxes">
                <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Choose Frame
                </a>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <a class="dropdown-item" href="#">Oak Brown</a>
                  <a class="dropdown-item" href="#">Oak Black</a>
                  <a class="dropdown-item" href="#">Aluminium</a>
                </div>
              </div>


              <div class="settingsBoxes">
                <input class="colorPicker" name="ColorPickerId" type="color" id="MyColor"/>
              </div>

            </div>
         </div>

        <div class="row" style="padding: 7px;">
          <div class="" style="height: 100px; min-width: 100%;padding-top: 200px">
          <button type="button" class="btn btn-primary btn-lg btn-block btnsSaveExport">Save WorkSpace</button>
            <br><br><br><br>
            <button type="button" class="btn btn-primary btn-lg btn-block btnsSaveExport">Send Order</button>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
