.settingsBoxes{
  align: center;
  padding: 5%;
}

.btnsSaveExport{
  position: relative;
  bottom: 30px;
  margin-top: -70px;
  padding: 0px;
  border: white double medium;
  border-radius: 20px;
}

#workspaceId{
  background-color: black;
  width: 500px;
  height: 560px;
  min-width: 100%;
  border: 5px solid gray;
}

.colorPicker{
  width: 130px;
  height: 40px;
}

