@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Sansita+Swashed&family=Slabo+27px&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nerko+One&family=Sansita+Swashed&display=swap');

.navbar a{
  font-size: 20px;
  font-family: 'Slabo 27px', serif;
  margin-right: 55%;

}

.distance{
  margin: 0px;
}
#logo{
  font-size: 30px;
  font-family: 'Sansita Swashed', cursive;
}
