<div class="container-fluid">
  <ul>
  <img src="/assets/phone.png" class="phone">
  <a class="phoneNumber" href="/YOUR LINK/">+45 60 20 47 50</a>
  <img src="/assets/envelop.png" class="envelop">
  <a class="email" href="/YOUR LINK/">HELLO@FOTO-FACTORY.COM</a>
  <select class="selectpicker" data-width="fit">
      <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
      <option  data-content='<span class="flag-icon flag-icon-dk"></span> Español'>Danish</option>
  </select>
</ul>
</div>
