<div>
  <ul>
    <i class="fas fa-phone-alt phone"></i>
  <a class="phoneNumber" href="/YOUR LINK/">+45 60 20 47 50</a>
    <i class="fas fa-envelope envelop"></i>
  <a class="email" href="mailto:hello@foto-factory.com?subject = Feedback&body = Message">HELLO@FOTO-FACTORY.COM</a>

    <select class="selectpicker" data-width="fit">
      <option data-content='<span class="flag-icon flag-icon-us"></span> English'>English</option>
      <option  data-content='<span class="flag-icon flag-icon-dk"></span> Español'>Danish</option>
  </select>

</ul>
</div>
