<div class="container-fluid">
      <ul>
  <img src="/assets/phone.png" class="phone">
  <a class="phoneNumber">+45 60 20 47 50</a>
  <a class="envelop" href="#">
    <img src="/assets/envelop.png" class="envelop">
  </a>
  <a class="email" href="/YOUR LINK/">HELLO@FOTO-FACTORY.COM</a>
  <select class="selectpicker" data-width="fit">
    <option data-content='<span class="en-flag"><img class="dk-flag" src="img/dk.png"></img></span> English'>English</option>
    <option  data-content='<span class="dk-flag"></span> Danish'>Danish</option>
  </select>
  <!--<li class="dropdown">
    <a href="javascript:void(0)" class="dropbtn">Dropdown</a>
    <div class="dropdown-content">
      <a href="#">DK</a>
      <a href="#">EN</a>
    </div>
  </li>
  <li><a routerLink="">DK</a></li>
  <li><a routerLink="">EN</a></li>-->
</ul>
</div>
