<app-favourites></app-favourites>
<div class="row gap100" align="center">

  <div class="col-md-12" style="background-color: #f1f1f1">
    <h1 id="textHead">BLACK AND WHITE POSTERS</h1>
    <p id="text">In this Gallery you can find posters and mark them as favourites and go to the WorkSpace and try them on you wall</p>
  </div>
</div>
<section style="background:#f1f1f1;min-height: 300px;padding-top:50px;padding-bottom: 25px;">
  <div class="container" style="background:#f1f1f1;min-height: 225px;padding-bottom: 20px">
    <ul *ngIf="Collection">
      <div class="row">
        <div *ngFor="let posterModel of Collection">
          <div class="col-3">
            <img src="{{posterModel.path}}" id ={{posterModel.id}} class="pic" width="200" height="200">
            <div class="row">
              <h5 class="col-md-6" style=" padding-left: 0px">name</h5>
              <div (click)="onClick()">
                <i class="fas fa-heart" style="padding-left:  26px; padding-top: 10px" [ngClass] = "{'active': isActive}"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ul>
  </div>
</section>
